:root {
  --background-primary: #FFE5E5;
  --background-secondary: #FF7373;

  --foreground-primary: #FFFFFF;
  --foreground-link: #72002E;
  --foreground-link-hover: #ac0b4c;
  --foreground-link-visited: #4d162c;

  --background-drop-shadow: #800000;
}