@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-primary: #FFCCCC;
  --background-secondary: #660099;

  --foreground-primary: #FFFFFF;
  --foreground-link: #FFFFFF;
  --foreground-link-hover: #ac0b4c;
  --foreground-link-visited: #4d162c;

  --background-drop-shadow: #800000;
}