

.navbar {
  padding: 10px 20px;
  color: var(--foreground-link);
  text-decoration: none;
  font-family: 'Palatino Linotype', 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  margin-right: 20px;
  transition: background-color 0.3s ease; 
  border-radius: 16pt;
}

.navbar:hover {
  color: var(--foreground-link-hover);
  background-color: var(--background-primary); 
}

.navbar:visited {
  color: var(--foreground-link-visited);
}

.navbar a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: inherit;
}

.navbar a:visited {
  color: inherit;
}