/* src/styles.css */
.tabs-container {
  max-width: 600px;
  margin: auto;
}

.tabs {
  display: flex;
  /* border-bottom: 2px solid #ccc;
  background: #e1e1e1;   */
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
  color: black;
  font-weight: bold;
}

.tabs button.active {
  border-bottom: 2px solid #007bff;
  font-weight: bold;
  /* color: #007bff; */
}

.tab-content {
  padding: 20px;
  /* border: 1px solid black; */
  border-radius: 4px;
  margin-top: 10px;
  /* background-color: #f9f9f9; */
  }

.form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-profile-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff !important;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 162.727px;
}

.edit-profile-button:hover {
  background-color: #0056b3;
}

button[type="submit"] {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #218838;
}

  .profile-form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /*background-color: #f9f9f9;*/
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.publicprofile {
  margin-bottom: 15px;
  display: flex;
  align-items: center; /* Center the items vertically */
  margin-bottom: 10px; /* Space between form groups */
}

.publicprofile label {
  margin-right: 10px; /* Space between label and input */
  white-space: nowrap; /* Prevent label from wrapping */
}

.publicprofile input {
  flex: 1; /* Allow the input to grow */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
    /* width: 100%; */
    width: 298.182px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.profile-preview {
  display: block;
  margin: 10px 0;
  max-width: 50%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.borderstest{
  padding: 20px;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 10px;
  border-radius: 12px;
  border-color: rgba(14, 14, 14, 0.18);
}

.select{
  cursor: pointer;
  border-radius: 6px;
  width: 298.182px;
  height: 30px;
  padding-left: 12px;
  padding-right: 36px;
  font-family: inherit;
  font-size: 16px;
  transition: border-color .2s ease-out, box-shadow .2s ease-out;
  display: block;
}
